ErrorDocument 400 /.assets/.error.php
ErrorDocument 401 /.assets/.error.php
ErrorDocument 403 /.assets/.error.php
ErrorDocument 404 /.assets/.error.php
ErrorDocument 405 /.assets/.error.php
ErrorDocument 408 /.assets/.error.php
ErrorDocument 414 /.assets/.error.php
ErrorDocument 500 /.assets/.error.php
ErrorDocument 502 /.assets/.error.php
ErrorDocument 504 /.assets/.error.php

DirectoryIndex index.htm index.html index.shtml index.php default.php .index.php